
.menu {
  padding: 0 20px;
  border-bottom: solid 1px #ee05da;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu_left {
  float: left;
  padding-top: 13px;
}
.ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_rigth {
  float: left;
}